
button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#modal-container-294744') 톡방 공유하기
#modal-container-294744.modal.fade(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', ng-controller='RoomCreateFormCtrl')
   .modal-dialog
      .modal-content
         .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
               | ×
            h4#myModalLabel.modal-title
               | 링크와 제목을 입력해주세요.
         .modal-body
            h5 카테고리 :
            .btn-group
               button.btn.btn-default
                  | {{ selectedCategory.name ? selectedCategory.name : '기타' }}
               button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                  span.caret
               ul.dropdown-menu
                  li(ng-repeat='menu in menus' ng-show='!$first')
                     a(ng-click='didSelectCategoryInCreateForm(menu)') {{ menu.name }}
            form(name='createRoomForm')
               h5(ng-bind='form.name') {{form.name}}
               | 제목:
               input.my-input(ng-model='form.name', name='name', aria-describedby='inputDescription' placeholder='방제목을 1자 이상 입력해 주세요.', style='width: 80%;', type='text' required)
               br
               br
               | 링크:
               input.my-input(ng-model='form.url', name='url', type='url', aria-describedby='inputDescription', placeholder='공유 링크를 넣어주세요.' style='width: 80%;' required)
               br
               br
               input.btn-lg.btn-primary(type='button', data-dismiss='modal', value='저장하기', ng-click='createRoom()')
               input.btn-lg.btn-warning(type='button', data-dismiss='modal', value='닫기')
