extends layout

block content

  .container-fluid(ng-controller='AppCtrl')
    .row
      .col-md-12
        h1 카톡 공개채팅 링크 공유기!
        .custom
          // BEGIN Modal
          button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#modal-container-294744') 링크 공유하기
          #modal-container-294744.modal.fade(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    | ×
                  h4#myModalLabel.modal-title
                    | 링크와 제목을 입력해주세요.
                .modal-body
                  form(name='createRoomForm', action='rooms', method='post')
                    h5(ng-bind='form.name') {{form.name}}
                    | 제목:
                    input.my-input(ng-model='form.name', name='name', aria-describedby='inputDescription' style='width: 80%;', type='text' required)
                    br
                    br
                    | 링크:
                    input.my-input(ng-model='form.url', name='url', type='url', aria-describedby='inputDescription', style='width: 80%;' required)
                    br
                    br
                    input.btn-lg.btn-primary(type='submit', value='저장하기')
                    input.btn-lg(type='button', data-dismiss='modal', value='닫기')
          // END Modal
        .container-fluid
          .row
            //.col-md-2
            //  table.table.table-condensed
            //    thead
            //      tr
            //        th
            //          | #
            //        th
            //          | 카테고리
            //    tbody
            //      tr
            //        td
            //          | 1
            //        td
            //          | TB - Monthly
            //      tr.active
            //        td
            //          | 1
            //        td
            //          | TB - Monthly
            //      tr.success
            //        td
            //          | 2
            //        td
            //          | TB - Monthly
            //      tr.warning
            //        td
            //          | 3
            //        td
            //          | TB - Monthly
            //      tr.danger
            //        td
            //          | 4
            //        td
            //          | TB - Monthly
            .col-md-12
              table.table
                thead
                  tr
                    //th
                    //  | #
                    th
                      | 제목
                    th
                      | 링크 (클릭하면 톡 시작!)
                    th
                      | 생성일자
                tbody
                  tr(ng-repeat='item in rooms track by item._id')
                    //td= val.id
                    td {{item.name}}
                    td
                      a(href= '{{item.url}}', target='_blank') {{item.url}}
                    //td= val.url
                    td {{item.created | date:'yyyy-MM-dd HH:mm:ss Z'}}
    //pagination.pagination-sm(boundary-links='true', total-items=100, ng-model=1, previous-text='‹', next-text='›', first-text='«', last-text='»')
  include _paginate

  script(src='js/app/app.js')
  script(src='js/app/controllers.js')
