doctype html
html(ng-app='DKOpenChat')
  head
    meta(charset='utf-8')
    //meta(name='viewport', content='width=device-width')
    meta(name='viewport', content='width=device-width, initial-scale=0.7, maximum-scale=2')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Kakao Talk Open Chat

    script(src='js/jquery.min.js')

    link(href='css/style.css', rel='stylesheet')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    //link(rel='stylesheet', href='css/app.css')
    //link(rel='stylesheet', href='css/animations.css')
    script(src='bootstrap/dist/js/bootstrap.min.js')
    script(src='jquery/dist/jquery.js')

    script(src='//developers.kakao.com/sdk/js/kakao.min.js')



    script(src='angular/angular.js')
    //script(src='angularUtils-/index.js')
    script(src='angular-animate/angular-animate.js')
    script(src='angular-route/angular-route.js')
    script(src='angular-resource/angular-resource.js')

  body
    div(ng-view='')
      block content

    div
      .container-fluid
        .row
          .col-md-12
            span <strong>※ 사용자 가입 및 데이터의 삭제 기능이 추가되기 전까지 모든 데이터는 1주일 주기로 모두 삭제됩니다. </strong>



