doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Login Demo - Kakao JavaScript SDK
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')

  body

    block content

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')

