doctype html
html(ng-app='phonecatApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Login Demo - Kakao JavaScript SDK
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')

  body

    block content



